In [1]:
import csv
import pandas as pd
import os
CARGA_BASE = '/home/ivan/pybr/AJNA_MOD/sentinela/CSV/1/2017/1221/'

In [2]:
files =  sorted(os.listdir(CARGA_BASE))
dfs = {}
for r in range(len(files)):
    print(files[r])
    with open(os.path.join(CARGA_BASE, files[r]), 'r',
              encoding='latin1', newline='') as arq:
        reader = csv.reader(arq)
        lista = [linha for linha in reader]

    df = pd.DataFrame(lista[1:], columns=lista[0])
    dfs[files[r]] = df

AtracDesatracEscala.csv
CargaSolta.csv
Conhecimento.csv
Container.csv
ContainerVazio.csv
Escala.csv
EscalaManifesto.csv
Granel.csv
Manifesto.csv
ManifestoConhecimento.csv
NCM.csv
Parametros.csv
Transbordo.csv
Veiculo.csv

In [3]:
r=0
print(files[r])
dfs[files[r]].head(2)

AtracDesatracEscala.csv

,Escala,CodigoTerminal,NomeTerminal,Situacao,DataAtracacao,HoraAtracacao,DataDesatracacao,HoraDesatracacao,LocalAtracacao
0,15000365317,BRSSZ009,EMBRAPORT EMPRESA BRASILEIRA DE TERMINAIS PORT...,ATRACADA,01/10/2015,17:46:00,02/10/2015,14:09:00,EMBRAPORT 2
1,15000386934,BRSSZ016,SANTOS BRASIL,ATRACADA,01/10/2015,09:15:00,02/10/2015,15:14:00,TECON PONTO 01

In [4]:
r=1
print(files[r])
dfs[files[r]].head(2)

CargaSolta.csv

,Conhecimento,Item,TipoEmbalagem,Quantidade,Marca,Contramarca,TipoBloqueio1,MotivoBloqueio1,JustificativaBloqueio1,CPFResponsavelBloqueio1,...,HoraDesbloqueio4,JustificativaDesbloqueio4,QuantidadeBloqueiosAtivos,QuantidadeBloqueiosInativos,IndicadorHistoricoBloqueio,IndicadorHistoricoPedidoRetificacao,PesoBrutoItem(Kg),VolumeItem(m3),CodigoMercadoriaPerigosa,CodigoClasseMercadoriaPerigosa
0,151505205125698,0001,PALLETS,0000012,FISCHERBRASILINDYCOM,FISCHERBRASILINDYCOM,,,,,...,,,00,00,,,"000004538,800","0000000016,790",,
1,151505205487336,0001,PALLETS,0000012,FISCHER BRASIL,FISCHER BRASIL,,,,,...,,,00,00,,,"000004538,800","0000000016,790",,

In [5]:
r=2
print(files[r])
dfs[files[r]].head(2)

Conhecimento.csv

,Conhecimento,QuantidadeBloqueiosAtivos,QuantidadeBloqueiosInativos,TipoBloqueio1,MotivoBloqueio1,JustificativaBloqueio1,CPFResponsavelBloqueio1,NomeResponsavelBloqueio1,DataBloqueio1,HoraBloqueio1,...,NomeAgenteNavegacaoDesconsolidador,CodigoAgenteNavegacaoDesconsolidador,NomeNavioPrimeiroTransporte,DataEmissaoBLPrimeiroTransporte,BLPrimeiroTransporte,ValorFrete,MoedaFrete,ModalidadeFrete,RecolhimentoFrete,IndicadorCargaConteinerizada
0,151505204660875,,00,,,,,,,,...,,,ALLEGORIA,,,"00000000672,00",DOLAR DOS EUA,HOUSE TO HOUSE,PREPAID,S
1,151505204660956,,00,,,,,,,,...,,,ALLEGORIA,,,"00000000672,00",DOLAR DOS EUA,HOUSE TO HOUSE,PREPAID,S

In [6]:
r=3
print(files[r])
dfs[files[r]].head(2)

Container.csv

,Conhecimento,Item,Container,TipoBloqueio1,MotivoBloqueio1,JustificativaBloqueio1,CPFResponsavelBloqueio1,NomeResponsavelBloqueio1,DataBloqueio1,HoraBloqueio1,...,Lacre3,Lacre4,Tipo,Capacidade,TaraContainer,PesoBrutoItem,VolumeItem,IndicadorUsoParcial,CodigoMercadoriaPerigosa,CodigoClasseMercadoriaPerigosa
0,151505204660875,0001,EXFU5501005,,,,,,,,...,324309,324309,"TANK DANGER. LIQU. 4 BAR,20'/8'6",20,"004000,000","000022820,000","0000000017,000",,,
1,151505204660956,0001,TIFU3501484,,,,,,,,...,905549,,"TANK NON-DANGER. LIQU. 0.45 BAR,20'/8'6",20,"004000,000","000022730,000","0000000017,000",,,

In [7]:
r=4
print(files[r])
dfs[files[r]].head(2)

ContainerVazio.csv

       Manifesto    Container            NomeTipo Capacidade(PÃ©s)    Tara(Kg)
0  1815502323315  HLXU3607622  OPENTOP(20'/8'6'')              20  002450,000
1  1815502323315  HLXU3607659  OPENTOP(20'/8'6'')              20  002450,000

In [8]:
r=5
print(files[r])
dfs[files[r]].head(2)

Escala.csv

,Escala,NomeEmbarcacao,CodigoIMO,TipoBloqueio1,MotivoBloqueio1,JustificativaBloqueio1,CPFResponsavelBloqueio1,NomeResponsavelBloqueio1,DataBloqueio1,HoraBloqueio1,...,HoraDesbloqueio3,JustificativaDesbloqueio3,QuantidadeBloqueiosAtivos,IndicadorHistoricoBloqueios,NomeAgenciaNavegacao,CNPJAgenciaNavegacao,DataPrevistaAtracacao,DataEfetivaAtracacao,DataPrevistaDesatracacao,DataUltimaDesatracacao
0,15000365317,ALLEGORIA,9295945,,,,,,,,...,,,,,ROCHAMAR AGENCIA MARITIMA S.A.,11256147000325,27/09/2015,01/10/2015,28/09/2015,02/10/2015
1,15000386934,MAIRA XL,9710232,,,,,,,,...,,,,,COSCO SHIPPING LINES (BRASIL) S.A.,02502234000243,01/10/2015,01/10/2015,02/10/2015,02/10/2015

In [9]:
r=6
print(files[r])
dfs[files[r]].head(2)

EscalaManifesto.csv

        Escala      Manifesto
0  15000365317  1815502323315
1  15000365317  1515502323332

In [10]:
r=7
print(files[r])
dfs[files[r]].head(2)

Granel.csv

,Conhecimento,Item,Tipo,Descricao,TipoBloqueio1,MotivoBloqueio1,JustificativaBloqueio1,CPFResponsavelBloqueio1,NomeResponsavelBloqueio1,DataBloqueio1,...,HoraDesbloqueio4,JustificativaDesbloqueio4,QuantidadeBloqueiosAtivos,QuantidadeBloqueiosInativos,IndicadorHistoricoBloqueio,IndicadorHistoricoPedidoRetificacao,PesoBrutoItem(Kg),VolumeItem(m3),CodigoMercadoriaPerigosa,CodigoClasseMercadoriaPerigosa
0,151505201490901,0001,LIQUIDOS - OUTROS,,,,,,,,...,,,00,00,,,"005366441,000","0000000000,000",8,1824
1,151505201578159,0001,LIQUIDOS - OUTROS,,,,,,,,...,,,00,00,,,"007031030,000","0000000000,000",8,1824

In [11]:
r=8
print(files[r])
dfs[files[r]].head(2)

Manifesto.csv

,Manifesto,TipoBloqueio1,MotivoBloqueio1,JustificativaBloqueio1,CPFResponsavelBloqueio1,NomeResponsavelBloqueio1,DataBloqueio1,HoraBloqueio1,DesbloqueadoPeloTransportador1,CPFResponsavelDesbloqueio1,...,CodigoTerminalCarregamento3,NomeTerminalCarregamento3,CodigoPortoDescarregamento,NomePortoDescarregamento,CodigoTerminalDescarregamento1,NomeTerminalDescarregamento1,CodigoTerminalDescarregamento2,NomeTerminalDescarregamento2,CodigoTerminalDescarregamento3,NomeTerminalDescarregamento3
0,1815502323315,IMPEDE REGISTRO DE DI/DSI/DTA,VINCULAÃ‡ÃƒO MAN/ESC PÃ“S PRAZO OU ATRACAÃ‡ÃƒO,BLOQUEIO AUTOMATICO,,,01/10/2015,17:46:52,,,...,,,BRSSZ,SANTOS,BRSSZ009,EMBRAPORT EMPRESA BRASILEIRA DE TERMINAIS PORT...,,,,
1,1515502323332,,,,,,,,,,...,,,BRSSZ,SANTOS,BRSSZ009,EMBRAPORT EMPRESA BRASILEIRA DE TERMINAIS PORT...,,,,

In [12]:
r=9
print(files[r])
dfs[files[r]].head(2)

ManifestoConhecimento.csv

,Manifesto,Conhecimento,CodigoTerminalCarregamento,NomeTerminalCarregamento,CodigoTerminalDescarregamento,NomeTerminalDescarregamento
0,1515502323332,151505204660875,,BUENOS AIRES,BRSSZ009,EMBRAPORT EMPRESA BRASILEIRA DE TERMINAIS PORT...
1,1515502323332,151505204660956,,BUENOS AIRES,BRSSZ009,EMBRAPORT EMPRESA BRASILEIRA DE TERMINAIS PORT...

In [13]:
r=10
print(files[r])
print(dfs[files[r]].columns)
dfs[files[r]].head(2)

NCM.csv
Index(['Conhecimento', 'Item', 'NCM', 'Descricao'], dtype='object')

,Conhecimento,Item,NCM,Descricao
0,151505204660875,0001,3907,"POLIACETAIS, OUTROS POLIÃ‰TERES E RESINAS EPÃ“XI..."
1,151505204660956,0001,3907,"POLIACETAIS, OUTROS POLIÃ‰TERES E RESINAS EPÃ“XI..."

In [14]:
r=11
print(files[r])
dfs[files[r]].head(2)

Parametros.csv

,Usuario,DataRequisicao,HoraRequisicao,NomeConsulta,CategoriaCarga,PortoAtracacao,Periodo,DataInicioConsulta,DataFinalConsulta,Embarcacao,...,PortoOrigem,PaisDestinoFinal,PortoDestinoFinal,PaisCarregamento,PortoCarregamento,CNPJ_CPFEmbarcador,PaisDescarregamento,PortoDescarregamento,OperadorLogico,BloqueioHistorico
0,08259498740,18/09/2017,18:09:59,Outubro2015,Importada,BRSSZ,AtracaÃ§Ã£o,01/10/2015,31/10/2015,,...,,,BRSSZ,,,,,BRSSZ,,

In [16]:
r=12
print(files[r])
print(len(dfs[files[r]]))
dfs[files[r]].head(5)

Transbordo.csv
14541

      Conhecimento CodigoPorto  NomePorto
0  151505202615660       HKHKG  HONG KONG
1  151505202615740       HKHKG  HONG KONG
2  151505202615821       HKHKG  HONG KONG
3  151505202617280       HKHKG  HONG KONG
4  151505202616399       HKHKG  HONG KONG

In [17]:
r=13
print(files[r])
dfs[files[r]].head(2)

Veiculo.csv

,Conhecimento,Item,Chassi,Marca,Contramarca,TipoBloqueio1,MotivoBloqueio1,JustificativaBloqueio1,CPFResponsavelBloqueio1,NomeResponsavelBloqueio1,...,CPFResponsavelDesbloqueio4,NomeResponsavelDesbloqueio4,DataDesbloqueio4,HoraDesbloqueio4,JustificativaDesbloqueio4,QuantidadeBloqueiosAtivos,QuantidadeBloqueiosInativos,IndicadorHistoricoBloqueio,IndicadorHistoricoPedidoRetificacao,PesoBrutoItem(Kg)
0,151505204366845,0001,JMYLYV98WGJA00643,MMCB,"VEHICLES OF MITSUBISHI PRODUCTION YEAR 2015, M...",,,,,,...,,,,,,00,00,,,"000002240,000"
1,151505204366845,0002,JMYLYV98WGJA00658,MMCB,"VEHICLES OF MITSUBISHI PRODUCTION YEAR 2015, M...",,,,,,...,,,,,,00,00,,,"000002240,000"

In [18]:
dfs['Conhecimento.csv'][['Conhecimento', 'Tipo']].groupby('Tipo').count()

      Conhecimento
Tipo
BL           13750
HBL          25848
MBL          14131
MHBL          4622

In [19]:
dfs['ContainerVazio.csv'][['Container', 'Capacidade(PÃ©s)']].groupby('Capacidade(PÃ©s)').count()

                 Container
Capacidade(PÃ©s)
20                   19739
40                   17881

In [20]:
dfs['Container.csv'][['Container', 'IndicadorUsoParcial']].groupby('IndicadorUsoParcial').count()

                     Container
IndicadorUsoParcial
                         40731
N                        28474
S                         1077

In [21]:
df_cc_ce = dfs['Container.csv'].merge(dfs['Conhecimento.csv'], how='inner', on='Conhecimento')

In [22]:
df_cc_ce.describe()

,Conhecimento,Item,Container,TipoBloqueio1_x,MotivoBloqueio1_x,JustificativaBloqueio1_x,CPFResponsavelBloqueio1_x,NomeResponsavelBloqueio1_x,DataBloqueio1_x,HoraBloqueio1_x,...,NomeAgenteNavegacaoDesconsolidador,CodigoAgenteNavegacaoDesconsolidador,NomeNavioPrimeiroTransporte,DataEmissaoBLPrimeiroTransporte,BLPrimeiroTransporte,ValorFrete,MoedaFrete,ModalidadeFrete,RecolhimentoFrete,IndicadorCargaConteinerizada
count,70282,70282,70282,70282,70282,70282,70282,70282,70282,70282,...,70282,70282,70282,70282,70282,70282,70282,70282,70282,70282
unique,41795,65,47596,2,4,3,2,2,61,761,...,439,463,2170,81,11464,5777,12,5,3,1
top,151505216196931,0001,KKTU7488815,,,,,,,,...,,,CAP SAN NICOLAS,,,"00000000100,00",DOLAR DOS EUA,HOUSE TO HOUSE,PREPAID,S
freq,65,41759,28,69496,69496,69496,70278,70278,69496,69496,...,48056,48056,1773,48801,48801,1457,52761,68292,39276,70282

In [23]:
print('ContÃªineres - total de linhas', len(dfs['Container.csv']))
df_cc_ce_unico = dfs['Container.csv'][['Container', 'Conhecimento']].groupby('Container')
print('ContÃªineres - nÃºmeros Ãºnicos', len(df_cc_ce_unico))
df_cc_ce_unico = df_cc_ce_unico.filter(lambda x: len(x) == 1)
print('ContÃªineres - com um sÃ³ CE', len(df_cc_ce_unico))

ContÃªineres - total de linhas 70282
ContÃªineres - nÃºmeros Ãºnicos 47596
ContÃªineres - com um sÃ³ CE 26745

In [24]:
ncm_conteineres_unicos = df_cc_ce_unico.merge(dfs['NCM.csv'], on='Conhecimento')

In [25]:
ncm_conteineres_unicos.head(2)

,Container,Conhecimento,Item,NCM,Descricao
0,EXFU5501005,151505204660875,0001,3907,"POLIACETAIS, OUTROS POLIÃ‰TERES E RESINAS EPÃ“XI..."
1,TIFU3501484,151505204660956,0001,3907,"POLIACETAIS, OUTROS POLIÃ‰TERES E RESINAS EPÃ“XI..."

In [26]:
print('ContÃªineres Ãºnicos com um sÃ³ CE e seus NCMs', len(ncm_conteineres_unicos))
ncm_conteineres_unicos_ncm_unico = ncm_conteineres_unicos[['Container', 'NCM']].groupby('Container')
print('ContÃªineres Ãºnicos com um sÃ³ CE e NCMs agrupados', len(ncm_conteineres_unicos_ncm_unico))
ncm_conteineres_unicos_ncm_unico = ncm_conteineres_unicos_ncm_unico.filter(lambda x: len(x) == 1)
print('ContÃªineres Ãºnicos com um sÃ³ CE e NCM Ãºnico', len(ncm_conteineres_unicos_ncm_unico))

ContÃªineres Ãºnicos com um sÃ³ CE e seus NCMs 523189
ContÃªineres Ãºnicos com um sÃ³ CE e NCMs agrupados 26745
ContÃªineres Ãºnicos com um sÃ³ CE e NCM Ãºnico 6364

In [29]:
print(list(dfs['Conhecimento.csv'].columns))

['Conhecimento', 'QuantidadeBloqueiosAtivos', 'QuantidadeBloqueiosInativos', 'TipoBloqueio1', 'MotivoBloqueio1', 'JustificativaBloqueio1', 'CPFResponsavelBloqueio1', 'NomeResponsavelBloqueio1', 'DataBloqueio1', 'HoraBloqueio1', 'DesbloqueadoPeloTransportador1', 'CPFResponsavelDesbloqueio1', 'NomeResponsavelDesbloqueio1', 'DataDesbloqueio1', 'HoraDesbloqueio1', 'JustificativaDesbloqueio1', 'TipoBloqueio2', 'MotivoBloqueio2', 'JustificativaBloqueio2', 'CPFResponsavelBloqueio2', 'NomeResponsavelBloqueio2', 'DataBloqueio2', 'HoraBloqueio2', 'DesbloqueadoPeloTransportador2', 'CPFResponsavelDesbloqueio2', 'NomeResponsavelDesbloqueio2', 'DataDesbloqueio2', 'HoraDesbloqueio2', 'JustificativaDesbloqueio2', 'TipoBloqueio3', 'MotivoBloqueio3', 'JustificativaBloqueio3', 'CPFResponsavelBloqueio3', 'NomeResponsavelBloqueio3', 'DataBloqueio3', 'HoraBloqueio3', 'DesbloqueadoPeloTransportador3', 'CPFResponsavelDesbloqueio3', 'NomeResponsavelDesbloqueio3', 'DataDesbloqueio3', 'HoraDesbloqueio3', 'JustificativaDesbloqueio3', 'TipoBloqueio4', 'MotivoBloqueio4', 'JustificativaBloqueio4', 'CPFResponsavelBloqueio4', 'NomeResponsavelBloqueio4', 'DataBloqueio4', 'HoraBloqueio4', 'DesbloqueadoPeloTransportador4', 'CPFResponsavelDesbloqueio4', 'NomeResponsavelDesbloqueio4', 'DataDesbloqueio4', 'HoraDesbloqueio4', 'JustificativaDesbloqueio4', 'IndicadorHistoricoBloqueios', 'IndicadorHistoricoPedidoRetificacao', 'NumeroBL', 'DataEmissao', 'Tipo', 'ConhecimentoMaster', 'IndicadorBLServico', 'NumeroBLServico', 'IndicadorPossuiBLServico', 'QuantidadeBLServico', 'IndicadorShipConveniense', 'ConteinerShipConveniense1', 'ConteinerShipConveniense2', 'ConteinerShipConveniense3', 'CodigoPortoOrigem', 'NomePortoOrigem', 'CodigoPortoDestino', 'NomePortoDestino', 'NomeConsignatario', 'CPFCNPJConsignatario', 'ConsignatarioEstrangeiro', 'NomeConsignatarioEstrangeiro', 'PassaporteEstrangeiro', 'IndicadorBLaOrdem', 'IndicadorCargaEntregaExterior', 'CodigoPaisEntrega', 'NomePaisEntrega', 'IdentificacaoConsignatario', 'NomeNotificado', 'CPFCNPJNotificado', 'IdentificacaoNotificado', 'DescricaoMercadoria', 'ContinuacaoDescricaoMercadoria', 'Situacao', 'DataSituacao', 'CodigoSituacao', 'CodigoDocumentoDespacho', 'NumeroDocumentoDespacho', 'CodigoDaSituacaoDespacho', 'SituacaoDespacho', 'DataSituacaoDespacho', 'CanalDespachoDI', 'TipoDocDespachoNaturezaDSI', 'NomeRAArmazenamento', 'CodigoRAArmazenamento', 'NomeEmbarcador', 'CPFCNPJEmbarcador', 'IdentificacaoEmbarcador', 'NomeAgenteNavegacao', 'CodigoAgenteNavegacao', 'NomeEmpresaNavegacaoDesconsolidadora', 'CodigoEmpresaNavegacaoDesconsolidadora', 'NomeAgenteNavegacaoDesconsolidador', 'CodigoAgenteNavegacaoDesconsolidador', 'NomeNavioPrimeiroTransporte', 'DataEmissaoBLPrimeiroTransporte', 'BLPrimeiroTransporte', 'ValorFrete', 'MoedaFrete', 'ModalidadeFrete', 'RecolhimentoFrete', 'IndicadorCargaConteinerizada']

In [30]:
print(list(dfs['Container.csv'].columns))

['Conhecimento', 'Item', 'Container', 'TipoBloqueio1', 'MotivoBloqueio1', 'JustificativaBloqueio1', 'CPFResponsavelBloqueio1', 'NomeResponsavelBloqueio1', 'DataBloqueio1', 'HoraBloqueio1', 'DesbloqueadoPeloTransportador1', 'CPFResponsavelDesbloqueio1', 'NomeResponsavelDesbloqueio1', 'DataDesbloqueio1', 'HoraDesbloqueio1', 'JustificativaDesbloqueio1', 'TipoBloqueio2', 'MotivoBloqueio2', 'JustificativaBloqueio2', 'CPFResponsavelBloqueio2', 'NomeResponsavelBloqueio2', 'DataBloqueio2', 'HoraBloqueio2', 'DesbloqueadoPeloTransportador2', 'CPFResponsavelDesbloqueio2', 'NomeResponsavelDesbloqueio2', 'DataDesbloqueio2', 'HoraDesbloqueio2', 'JustificativaDesbloqueio2', 'TipoBloqueio3', 'MotivoBloqueio3', 'JustificativaBloqueio3', 'CPFResponsavelBloqueio3', 'NomeResponsavelBloqueio3', 'DataBloqueio3', 'HoraBloqueio3', 'DesbloqueadoPeloTransportador3', 'CPFResponsavelDesbloqueio3', 'NomeResponsavelDesbloqueio3', 'DataDesbloqueio3', 'HoraDesbloqueio3', 'JustificativaDesbloqueio3', 'TipoBloqueio4', 'MotivoBloqueio4', 'JustificativaBloqueio4', 'CPFResponsavelBloqueio4', 'NomeResponsavelBloqueio4', 'DataBloqueio4', 'HoraBloqueio4', 'DesbloqueadoPeloTransportador4', 'CPFResponsavelDesbloqueio4', 'NomeResponsavelDesbloqueio4', 'DataDesbloqueio4', 'HoraDesbloqueio4', 'JustificativaDesbloqueio4', 'QuantidadeBloqueiosAtivos', 'QuantidadeBloqueiosInativos', 'IndicadorHistoricoBloqueio', 'IndicadorHistoricoPedidoRetificacao', 'Lacre1', 'Lacre2', 'Lacre3', 'Lacre4', 'Tipo', 'Capacidade', 'TaraContainer', 'PesoBrutoItem', 'VolumeItem', 'IndicadorUsoParcial', 'CodigoMercadoriaPerigosa', 'CodigoClasseMercadoriaPerigosa']

In [32]:
print(list(dfs['CargaSolta.csv'].columns))

['Conhecimento', 'Item', 'TipoEmbalagem', 'Quantidade', 'Marca', 'Contramarca', 'TipoBloqueio1', 'MotivoBloqueio1', 'JustificativaBloqueio1', 'CPFResponsavelBloqueio1', 'NomeResponsavelBloqueio1', 'DataBloqueio1', 'HoraBloqueio1', 'DesbloqueadoPeloTransportador1', 'CPFResponsavelDesbloqueio1', 'NomeResponsavelDesbloqueio1', 'DataDesbloqueio1', 'HoraDesbloqueio1', 'JustificativaDesbloqueio1', 'TipoBloqueio2', 'MotivoBloqueio2', 'JustificativaBloqueio2', 'CPFResponsavelBloqueio2', 'NomeResponsavelBloqueio2', 'DataBloqueio2', 'HoraBloqueio2', 'DesbloqueadoPeloTransportador2', 'CPFResponsavelDesbloqueio2', 'NomeResponsavelDesbloqueio2', 'DataDesbloqueio2', 'HoraDesbloqueio2', 'JustificativaDesbloqueio2', 'TipoBloqueio3', 'MotivoBloqueio3', 'JustificativaBloqueio3', 'CPFResponsavelBloqueio3', 'NomeResponsavelBloqueio3', 'DataBloqueio3', 'HoraBloqueio3', 'DesbloqueadoPeloTransportador3', 'CPFResponsavelDesbloqueio3', 'NomeResponsavelDesbloqueio3', 'DataDesbloqueio3', 'HoraDesbloqueio3', 'JustificativaDesbloqueio3', 'TipoBloqueio4', 'MotivoBloqueio4', 'JustificativaBloqueio4', 'CPFResponsavelBloqueio4', 'NomeResponsavelBloqueio4', 'DataBloqueio4', 'HoraBloqueio4', 'DesbloqueadoPeloTransportador4', 'CPFResponsavelDesbloqueio4', 'NomeResponsavelDesbloqueio4', 'DataDesbloqueio4', 'HoraDesbloqueio4', 'JustificativaDesbloqueio4', 'QuantidadeBloqueiosAtivos', 'QuantidadeBloqueiosInativos', 'IndicadorHistoricoBloqueio', 'IndicadorHistoricoPedidoRetificacao', 'PesoBrutoItem(Kg)', 'VolumeItem(m3)', 'CodigoMercadoriaPerigosa', 'CodigoClasseMercadoriaPerigosa']

In [16]:
dfs['Container.csv'][['Container', 'Capacidade']].groupby('Capacidade').count()

            Container
Capacidade
20              29476
40              40806

In [31]:
print(list(dfs['Granel.csv'].columns))

['Conhecimento', 'Item', 'Tipo', 'Descricao', 'TipoBloqueio1', 'MotivoBloqueio1', 'JustificativaBloqueio1', 'CPFResponsavelBloqueio1', 'NomeResponsavelBloqueio1', 'DataBloqueio1', 'HoraBloqueio1', 'DesbloqueadoPeloTransportador1', 'CPFResponsavelDesbloqueio1', 'NomeResponsavelDesbloqueio1', 'DataDesbloqueio1', 'HoraDesbloqueio1', 'JustificativaDesbloqueio1', 'TipoBloqueio2', 'MotivoBloqueio2', 'JustificativaBloqueio2', 'CPFResponsavelBloqueio2', 'NomeResponsavelBloqueio2', 'DataBloqueio2', 'HoraBloqueio2', 'DesbloqueadoPeloTransportador2', 'CPFResponsavelDesbloqueio2', 'NomeResponsavelDesbloqueio2', 'DataDesbloqueio2', 'HoraDesbloqueio2', 'JustificativaDesbloqueio2', 'TipoBloqueio3', 'MotivoBloqueio3', 'JustificativaBloqueio3', 'CPFResponsavelBloqueio3', 'NomeResponsavelBloqueio3', 'DataBloqueio3', 'HoraBloqueio3', 'DesbloqueadoPeloTransportador3', 'CPFResponsavelDesbloqueio3', 'NomeResponsavelDesbloqueio3', 'DataDesbloqueio3', 'HoraDesbloqueio3', 'JustificativaDesbloqueio3', 'TipoBloqueio4', 'MotivoBloqueio4', 'JustificativaBloqueio4', 'CPFResponsavelBloqueio4', 'NomeResponsavelBloqueio4', 'DataBloqueio4', 'HoraBloqueio4', 'DesbloqueadoPeloTransportador4', 'CPFResponsavelDesbloqueio4', 'NomeResponsavelDesbloqueio4', 'DataDesbloqueio4', 'HoraDesbloqueio4', 'JustificativaDesbloqueio4', 'QuantidadeBloqueiosAtivos', 'QuantidadeBloqueiosInativos', 'IndicadorHistoricoBloqueio', 'IndicadorHistoricoPedidoRetificacao', 'PesoBrutoItem(Kg)', 'VolumeItem(m3)', 'CodigoMercadoriaPerigosa', 'CodigoClasseMercadoriaPerigosa']

## Checagem de integridade - teste da coluna TAB adicional

In [26]:
FIXED_WIDTH = '/home/ivan/pybr/AJNA_MOD/sentinela/files/P1/'

In [27]:
import glob
sch_files = sorted([file for file in glob.glob(FIXED_WIDTH+'*.sch')])
txt_files = sorted([file for file in glob.glob(FIXED_WIDTH+'*.txt')])

In [28]:
txt_files[7]

'/home/ivan/pybr/AJNA_MOD/sentinela/files/P1/Outubro2015FC082594987E170918H180959M502070.txt'

In [29]:
sch_files[7]

'/home/ivan/pybr/AJNA_MOD/sentinela/files/P1/sch07.sch'

In [30]:
ENCODE = 'latin1'
path = FIXED_WIDTH
mask_txt='0.txt'

### Igual csv_handler
sch_name = sch_files[7]
txt_name = glob.glob(os.path.join(
    path, '*' + os.path.basename(sch_name)[3:-4] + mask_txt))[0]
with open(sch_name, encoding=ENCODE,
          newline='') as sch_file, \
        open(txt_name, encoding=ENCODE,
             newline='') as txt_file:
    sch_content = sch_file.readlines()
    reader = csv.reader(txt_file, delimiter='\t')
    txt_content = [linha for linha in reader]

        
print(sch_content)
sch = sch_content
cabecalhos = []
larguras = []
for ind in range(len(sch)):
    if not isinstance(sch[ind], str):
        sch[ind] = str(sch[ind], ENCODE)
    linha = sch[ind]
    position_equal = linha.find('="')
    position_quote = linha.find('" ')
    position_col = linha.find('Col')
    if position_equal != -1 and position_col == 0:
        cabecalhos.append(linha[position_equal + 2:position_quote])
        position_width = linha.find('Width')
        larguras.append(linha[position_width + 6:-2])
print(cabecalhos)
print(larguras)

['[%CargaSolta]\r\n', 'ColNameHeader=True\r\n', 'Format=TabDelimited\r\n', 'MaxScanRows=0\r\n', 'CharacterSet=ANSI\r\n', 'Index=Conhecimento;Item\r\n', 'Relation1=Conhecimento/Conhecimento/Conhecimento\r\n', 'Col1="Conhecimento" Char Width 15\r\n', 'Col2="Item" Char Width 4\r\n', 'Col3="TipoEmbalagem" Char Width 60\r\n', 'Col4="Quantidade" Integer\r\n', 'Col5="Marca" Char Width 55\r\n', 'Col6="Contramarca" Char Width 55\r\n', 'Col7="TipoBloqueio1" Char Width 40\r\n', 'Col8="MotivoBloqueio1" Char Width 60\r\n', 'Col9="JustificativaBloqueio1" LongChar Width 250\r\n', 'Col10="CPFResponsavelBloqueio1" Char Width 11\r\n', 'Col11="NomeResponsavelBloqueio1" LongChar Width 115\r\n', 'Col12="DataBloqueio1" Date \r\n', 'Col13="HoraBloqueio1" Char Width 8\r\n', 'Col14="DesbloqueadoPeloTransportador1" Char Width 1\r\n', 'Col15="CPFResponsavelDesbloqueio1" Char Width 11\r\n', 'Col16="NomeResponsavelDesbloqueio1" LongChar Width 115\r\n', 'Col17="DataDesbloqueio1" Date\r\n', 'Col18="HoraDesbloqueio1" Char Width 8\r\n', 'Col19="JustificativaDesbloqueio1" LongChar Width 250\r\n', 'Col20="TipoBloqueio2" Char Width 40\r\n', 'Col21="MotivoBloqueio2" Char Width 60\r\n', 'Col22="JustificativaBloqueio2" LongChar Width 250\r\n', 'Col23="CPFResponsavelBloqueio2" Char Width 11\r\n', 'Col24="NomeResponsavelBloqueio2" LongChar Width 115\r\n', 'Col25="DataBloqueio2" Date \r\n', 'Col26="HoraBloqueio2" Char Width 8\r\n', 'Col27="DesbloqueadoPeloTransportador2" Char Width 1\r\n', 'Col28="CPFResponsavelDesbloqueio2" Char Width 11\r\n', 'Col29="NomeResponsavelDesbloqueio2" LongChar Width 115\r\n', 'Col30="DataDesbloqueio2" Date\r\n', 'Col31="HoraDesbloqueio2" Char Width 8\r\n', 'Col32="JustificativaDesbloqueio2" LongChar Width 250\r\n', 'Col33="TipoBloqueio3" Char Width 40\r\n', 'Col34="MotivoBloqueio3" Char Width 60\r\n', 'Col35="JustificativaBloqueio3" LongChar Width 250\r\n', 'Col36="CPFResponsavelBloqueio3" Char Width 11\r\n', 'Col37="NomeResponsavelBloqueio3" LongChar Width 115\r\n', 'Col38="DataBloqueio3" Date \r\n', 'Col39="HoraBloqueio3" Char Width 8\r\n', 'Col40="DesbloqueadoPeloTransportador3" Char Width 1\r\n', 'Col41="CPFResponsavelDesbloqueio3" Char Width 11\r\n', 'Col42="NomeResponsavelDesbloqueio3" LongChar Width 115\r\n', 'Col43="DataDesbloqueio3" Date\r\n', 'Col44="HoraDesbloqueio3" Char Width 8\r\n', 'Col45="JustificativaDesbloqueio3" LongChar Width 250\r\n', 'Col46="TipoBloqueio4" Char Width 40\r\n', 'Col47="MotivoBloqueio4" Char Width 60\r\n', 'Col48="JustificativaBloqueio4" LongChar Width 250\r\n', 'Col49="CPFResponsavelBloqueio4" Char Width 11\r\n', 'Col50="NomeResponsavelBloqueio4" LongChar Width 115\r\n', 'Col51="DataBloqueio4" Date \r\n', 'Col52="HoraBloqueio4" Char Width 8\r\n', 'Col53="DesbloqueadoPeloTransportador4" Char Width 1\r\n', 'Col54="CPFResponsavelDesbloqueio4" Char Width 11\r\n', 'Col55="NomeResponsavelDesbloqueio4" LongChar Width 115\r\n', 'Col56="DataDesbloqueio4" Date\r\n', 'Col57="HoraDesbloqueio4" Char Width 8\r\n', 'Col58="JustificativaDesbloqueio4" LongChar Width 250\r\n', 'Col59="QuantidadeBloqueiosAtivos" Integer\r\n', 'Col60="QuantidadeBloqueiosInativos" Integer\r\n', 'Col61="IndicadorHistoricoBloqueio" Char Width 1\r\n', 'Col62="IndicadorHistoricoPedidoRetificacao" Char Width 1\r\n', 'Col63="PesoBrutoItem(Kg)" Float\r\n', 'Col64="VolumeItem(m3)" Float\r\n', 'Col65="CodigoMercadoriaPerigosa" Char Width 6\r\n', 'Col66="CodigoClasseMercadoriaPerigosa" Char Width 4']
['Conhecimento', 'Item', 'TipoEmbalagem', 'Quantidade', 'Marca', 'Contramarca', 'TipoBloqueio1', 'MotivoBloqueio1', 'JustificativaBloqueio1', 'CPFResponsavelBloqueio1', 'NomeResponsavelBloqueio1', 'DataBloqueio1', 'HoraBloqueio1', 'DesbloqueadoPeloTransportador1', 'CPFResponsavelDesbloqueio1', 'NomeResponsavelDesbloqueio1', 'DataDesbloqueio1', 'HoraDesbloqueio1', 'JustificativaDesbloqueio1', 'TipoBloqueio2', 'MotivoBloqueio2', 'JustificativaBloqueio2', 'CPFResponsavelBloqueio2', 'NomeResponsavelBloqueio2', 'DataBloqueio2', 'HoraBloqueio2', 'DesbloqueadoPeloTransportador2', 'CPFResponsavelDesbloqueio2', 'NomeResponsavelDesbloqueio2', 'DataDesbloqueio2', 'HoraDesbloqueio2', 'JustificativaDesbloqueio2', 'TipoBloqueio3', 'MotivoBloqueio3', 'JustificativaBloqueio3', 'CPFResponsavelBloqueio3', 'NomeResponsavelBloqueio3', 'DataBloqueio3', 'HoraBloqueio3', 'DesbloqueadoPeloTransportador3', 'CPFResponsavelDesbloqueio3', 'NomeResponsavelDesbloqueio3', 'DataDesbloqueio3', 'HoraDesbloqueio3', 'JustificativaDesbloqueio3', 'TipoBloqueio4', 'MotivoBloqueio4', 'JustificativaBloqueio4', 'CPFResponsavelBloqueio4', 'NomeResponsavelBloqueio4', 'DataBloqueio4', 'HoraBloqueio4', 'DesbloqueadoPeloTransportador4', 'CPFResponsavelDesbloqueio4', 'NomeResponsavelDesbloqueio4', 'DataDesbloqueio4', 'HoraDesbloqueio4', 'JustificativaDesbloqueio4', 'QuantidadeBloqueiosAtivos', 'QuantidadeBloqueiosInativos', 'IndicadorHistoricoBloqueio', 'IndicadorHistoricoPedidoRetificacao', 'PesoBrutoItem(Kg)', 'VolumeItem(m3)', 'CodigoMercadoriaPerigosa', 'CodigoClasseMercadoriaPerigosa']
['15', '4', '60', '"Quantidade" Integer', '55', '55', '40', '60', '250', '11', '115', '="DataBloqueio1" Date ', '8', '1', '11', '115', '="DataDesbloqueio1" Date', '8', '250', '40', '60', '250', '11', '115', '="DataBloqueio2" Date ', '8', '1', '11', '115', '="DataDesbloqueio2" Date', '8', '250', '40', '60', '250', '11', '115', '="DataBloqueio3" Date ', '8', '1', '11', '115', '="DataDesbloqueio3" Date', '8', '250', '40', '60', '250', '11', '115', '="DataBloqueio4" Date ', '8', '1', '11', '115', '="DataDesbloqueio4" Date', '8', '250', '="QuantidadeBloqueiosAtivos" Integer', '="QuantidadeBloqueiosInativos" Integer', '1', '1', '="PesoBrutoItem(Kg)" Float', '="VolumeItem(m3)" Float', '6', '']

In [ ]:
dfs = {}
for r in range(len(files)):
    print(files[r])
    with open(os.path.join(CARGA_BASE, files[r]), 'r',
              encoding='latin1', newline='') as arq:
        reader = csv.reader(arq)
        lista = [linha for linha in reader]
    width_header = len(lista[0])
    for ind, linha in enumerate(lista):
        width_linha = len(linha)
        if width_linha != width_header:
            print('Erro: ', 'Header ', width_header, 'Linha ', width_linha)
            print(lista[0])
            print(lista[ind-1])
            print(linha)
            for header, certo, errado in zip(lista[0], lista[ind-1], lista[ind]):
                print(header, 'Certo', certo[:10], 'Errado', errado[:10])
        while width_linha > width_header:
            # Caso haja colunas "sobrando" na linha, retirar
            # uma coluna nula
            for index, col in enumerate(linha):
                if isinstance(col, str) and not col:
                    print('****Primeira coluna nula:', index)
                    width_linha -= 1
                    linha.pop(index)
                    break

        
    column_lenght = len(lista[1])
    header_lenght = len(lista[0])
    lenght = header_lenght
    if column_lenght < header_lenght:
        lenght = column_lenght
    print('Headers', header_lenght, 'Columns', column_lenght, 'Final', lenght)
    df = pd.DataFrame(lista[1:], columns=lista[0])
    dfs[files[r]] = df